header {
    top: 0;
    position: fixed;
    height: 10vh;
    width: 100%;
    background: #8BBBB7;
    display: flex;
    .nav-bar {
        display: flex;
        flex: 0.1;  
        // Link desktop
        li {
            list-style-type: none;
            margin: 0;
            a {
                height: 100%;
                width: 100%;
                color: #32292F;
                font-weight: bold;
                text-decoration: none;
                font-size: 1em;
                font-family: 'Narrow-medium';
                &:hover {
                    background: #98C3BF;
                }
            }
        }
        .link-d {
            height: 100%;
            display: none;
            flex: 1;
            border-right: 1px solid #ccc;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
           
        }
        .mobile {
            position: absolute;
            width: 30px;
            height: 30px;
            top: calc(50% - 15px);
            left: 10px;
            img {
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
            .mobile-menu {
                background: #8BBBB7;
                position: absolute;
                top: calc(50% + 16px);
                left: -10px;
                height: 100px;
                width: 150px;
                z-index: 1; 
                display: none;
                transition: display 4s ease-in-out;
                .link-m {
                    height: 30px;
                    width: 100%;
                    a {
                        display: block;
                    }

                }
            }
        }
    }
    .title-container {
        display: flex;
        flex: 1;
        justify-content: center;
        h1 {
            color: #32292F;
            line-height: 10vh;
            font-size: 3em;
            font-family: 'Narrow-medium';
        }
    }
}

.active-link {
    background: #98C3BF;
}


// desktop
@media only screen and (min-width: 992px) {
    header {
        .nav-bar {
            flex: 0.5;
            .link-d {
                display: block;
            }
            .mobile {
                display: none;
            }
        }
    }
}

