footer {
    height: 5vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #8BBBB7;
    h3 {
        color: #32292F;
        text-align: right;
        padding-right: 2rem;
        line-height: 4vh;
        font-family: 'Narrow-medium';
    }
}